# User and Group IDs
PUID=1000
PGID=1000

# Timezone
TZ=Asia/Kolkata

# Logging
LOG_LEVEL=DEBUG

# FlareSolverr
FLARESOLVERR_URL=http://flaresolverr:8191/v1

# Flask
FLASK_HOST=0.0.0.0
FLASK_PORT=5002

# Application
DRY_RUN=yes
PYTHONUNBUFFERED=1
WEBPAGE_CACHE_DAYS=30
