# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual env
.venv/
env/
venv/

# Local dev / editor files
.vscode/
.idea/
*.code-workspace

# GitHub configs
.github/

# Docker & Compose local overrides
.dockerignore
.devcontainer/

# Local environment configs
.env
*.env.local

# Logs and runtime data
logs/
*.log

# Data & cache
data/
cache/

# Local scripts (don’t commit infra helpers)
docker_rebuild.sh
setup_project.sh
setup_project_script_maker.sh
Makefile
