{# templates/shelves.html #}
{% extends "layout.html" %}
{% block title %}Shelves{% endblock %}
{% block content %}
  <h2>Shelves</h2>
  <p>Quick links to common shelves:</p>
  <ul>
    <li><a href="{{ url_for('shelf_view', shelf_name='to-download') }}">to-download</a></li>
    <li><a href="{{ url_for('shelf_view', shelf_name='to-read') }}">to-read</a></li>
    <li><a href="{{ url_for('shelf_view', shelf_name='read') }}">read</a></li>
    <li><a href="{{ url_for('shelf_view', shelf_name='owned') }}">owned</a></li>
  </ul>
{% endblock %}
